<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>成功</h3>
<!‐‐th:text 将div里面的文本内容设置为 ‐‐>
<div class="myDiv" th:class="${hello}" id="div01" th:id="${hello}" th:text="${hello}">这是原本属性</div>
<hr/>

<div th:text="${hello}"></div>
<div th:utext="${hello}"></div>

<!-- th:each每次遍历都会生成这个标签，3个h4-->
<h4 th:text="${user}" th:each="user : ${users}"></h4>

<h4>
    <span th:each="user : ${users}"> [[${user}]] </span>
</h4>
</body>
</html>